body{
  background-image: url(../img/pexels-photo-987947.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  height:100vh;
}

.row{
  padding: 0;
  margin: 0;
  box-flex: row;
  overflow-x: auto;
}
#headerTop{
  width: 100%;
  background-color: rgb(59, 11, 46, 0.3);
  color: white;
  height: 2.5em;
  padding:0;
}

#searchTab{
  margin-top: 0.3em;
  border-radius: 3px;
  border: 2px solid rgba(255, 255, 255, 0);
  background-color:  rgba(255, 255, 255, 0.3); 
  cursor: pointer;
  margin-left: 0.2em;
}
#searchTab:hover{
  background-color:  rgba(255, 255, 255, 0.2); 
}
.fa-trello{
  color: white;
}

#tableText{
  font-size: 0.9em;
  display: inline-block;
  padding: 0;
  margin: 0;
  color: white;
}

@media (max-width: 450px) {
  #tableText{
    display: none;
  }
}

 #inputHeader{
  width: 13%;
  border-radius: 3px;
  border: 2px solid rgba(255, 255, 255, 0);
  background-color:  rgba(255, 255, 255, 0.3); 
  cursor: pointer;
}
#inputHeader:hover{
  background-color:  rgba(255, 255, 255, 0.4); 
}

#iconSearch{
  margin-left: 80%;
  color: white;
}

@media (max-width: 450px) {
  #inputHeader{
    width: 2em;
  }
  #iconSearch{
    margin-left: 10%;
  }
}

#logotrello{
  width:80px;
  height:24px; 
  left: 47%;
  margin-top: 0.5em;
  position: absolute;
  margin-top: none;
  padding-top: none;
  margin-bottom: 1em;
  cursor: pointer;
  opacity: 0.5;
}
@media (max-width: 450px) {
  #logotrello{
  left: 33%;
  }
}
#logotrello:hover{
  opacity: 0.8;
}

#photouser{
  width:44px;
  height:42px;
  float: right;
  margin-top: -0.1em;
  cursor: pointer;
}

#photouser:hover{
  opacity: 0.7;
}

#iconadd{
  font-size: 1em;
  color: white;
  text-align: center;
}
#iconinfo{
  font-size: 0.8em;
  text-align: center;
  color: white;
}

@media (max-width: 750px) {
  .btnHide{
    display: none;
  }
}
#iconbell{
  font-size: 1em;
  text-align: center;
  color: white;
}
.btnIcon{
  float: right;
  margin-top: 0.3em;
  border-radius: 3px;
  border: 2px solid rgba(255, 255, 255, 0);
  background-color:  rgba(255, 255, 255, 0.3); 
  width: 1.8em;
  height: 1.8em;
  margin-left: 0.2em;
  cursor: pointer;
}
.btnIcon:hover{
  background-color:  rgba(255, 255, 255, 0.2); 
}

/*SUB MENU*/

#subMenu{
  margin-top: 1em;
}

#subtitleTab{
background-color: transparent;
color: white;
font-size: 1.1em;
border: none;
border-radius: 3px;
cursor: pointer;
height: 1.5em;
}
#subtitleTab:hover{
  background-color:  rgba(26, 25, 25, 0.4); 
}

#btnStar{
  background-color: transparent;
  color: white;
  border: none;
  border-radius: 3px;
  margin-top: 0.2em;
  cursor: pointer;
}
#btnStar:hover{
  background-color:  rgba(26, 25, 25, 0.4); 
}
#iconStar{
  font-size: 0.7em;
  margin-bottom: 0.1em;
}
#personal{
  background-color: transparent;
  margin-top: 0.4;
  margin-bottom: 0.4em;
  color: white;
  font-size: 1em;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  height: 1.5em;
}
#personal:hover{
  background-color:  rgba(26, 25, 25, 0.4); 
}
.separador{
  display: inline;
  color: white;
  font-size: 1em;
  opacity: 0.6;
}
#privado{
  background-color: transparent;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  height: 1.5em;
  font-size: 1em;
}
#privado:hover{
  background-color:  rgba(26, 25, 25, 0.4); 
}
#iconLock{
  color: white;
  font-size: 0.9em;
  opacity: 0.8;
}

#photouser2{
  width:42px;
  height:40px;
  margin-top: -0.35em;
  cursor: pointer;
  margin-left: -0.8em;
}
#photouser2:hover{
  opacity: 0.6;
}

#user1{
  width: 1.8em;
  height: 1.8em;
  border-radius: 1.8em;
  border: white;
  text-align: center;
}
#user2{
  width: 1.8em;
  height: 1.8em;
  border-radius: 1.8em;
  border: white;
  text-align: center;
  margin-left: -0.7em;
  background-color: gray;
  color: white;
  cursor: pointer;
  opacity: 0.7;
}
#user2:hover{
  background-color:  rgba(26, 25, 25, 0.4); 
}

#addPerson{
  width: 1.8em;
  height: 1.8em;
  border-radius: 1.8em;
  border: white;
  text-align: center;
  cursor: pointer;
  background-color: gray;
  opacity: 0.7;
}

#iconPerson{
  font-size: 0.7em;
  color: white;
  text-align: center;
}
#addPerson:hover{
  background-color:  rgba(26, 25, 25, 0.4); 
}
#showmenu{
  float: right;
  margin-right: 0;
  color: white;
  background-color: transparent;
  border-radius: 3px;
  border: none;
  cursor: pointer;
}

#titleShowMenu{
  display: inline;
  text-decoration: underline;
  font-size: 0.8em;
}

#showmenu:hover{
  background-color: rgba(26, 25, 25, 0.4); 
}

/*AÑADIR TARJETAS*/
#addCard{
  background-color: rgba(26, 25, 25, 0.3);
  border-radius: 3px;
  border: none;
  height: 2.3em;
  color: white;
  margin-top: 0.5em;
  cursor: pointer;
  width: 17em;
  margin-left: 0.5em;
}

#addCard:hover{
  background-color: rgba(26, 25, 25, 0.3);
}
#titleAddList{
  font-size: 0.8em;
  display: inline;
  padding-right: 9em;
  margin-left: 0.5em;
  opacity: 10;
}
#iconaddCard{
  font-size: 0.7em;
  margin-left: 0.3em;
  margin-bottom: 0.5em;
}

/*LISTAS AÑADIDAS*/
#listCard{
  word-wrap: break-word;
}

#addingList{
  padding: 0; 
  
}
#styleAddingList{
  margin-top:0.5em; 
  width: 17em;
  border-radius: 3px;
  background-color: #E2E4E6;
  margin-left: 0.5em;
}

#nameList{
  margin: 0.4em;
  font-size: 0.8em;
  height: 2.3em;
  border-radius: 3px;
  width: 22em;
  border: gray 1px solid;
}

.btn-info{
  background-color: 	#5AAC3D;
  margin-left: 0.4em;
  margin-bottom: 0.4em;
  width: 8em;
  height: 2.3em;
  font-size: 0.8em;
  border-radius: 3px;
}
.btn-info:hover{
  background-color: #519839;
}
#closeBtn{
  background-color: transparent;
  color: gray;
  border: none;
  cursor: pointer;
  opacity: 0.7;
}
#closeBtn:hover{
  color: #151515;
}

/*NUEVA LISTA*/
.listBox{
  background-color: #E2E4E6;
  margin-top:0.5em; 
  width: 17em;
  border-radius: 3px;
  margin-left: 0.5em;
  vertical-align: top;
}

#titleAddList2{
  font-size: 0.8em;
  display: inline;
}

.btnNewCard{
  background-color: transparent;
  border-radius: 3px;
  border: none;
  height: 2.3em;
  color: grey;
  margin-top: 0.5em;
  cursor: pointer;
  width: 17em;
  text-align: left;
}
#btnNewCard:hover{
  background-color:#D8D8D8;
  text-decoration: underline;
}

#listText{
  color: #151515;
  margin-left: 1em;
  margin-right: 1em;
  padding-top: 1em;
  font-size: 0.8em;
}

#titleAddList3{
  font-size: 0.8em;
  display: inline;
}

#btnNewCard2{
  background-color: transparent;
  border-radius: 3px;
  border: none;
  height: 2.3em;
  color: grey;
  margin-top: 0.5em;
  cursor: pointer;
  width: 17em;
  text-align: left;
}
.closeBtn2{
  background-color: transparent;
  color: gray;
  border: none;
  cursor: pointer;
  opacity: 0.7;
}

.nameCard{
  width: 20.2em;
  border: none;
  border-radius: 3px;
  margin: 0.5em;
  font-size: 0.8em;
  
}

#divCard{
  padding: 0;
  background-color: white;
  border-radius: 3px;
  border: none;
  color: #151515;
  width: 20.2em;
  margin-left: 0.5em;
  margin-right: 0.5em;
  margin-bottom: 0.5em;
  margin-top: 1em;
  font-size: 0.8em;
  height: 2.5em;
  word-wrap: break-word;
}
#textCardhtml{
  padding-top: 0.5em;
  margin-left: 0.5em;
  word-wrap: break-word;
}
#btnEllipsis{
  color: gray;
  right: 0;
}
